# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/

# Pytest cache
.pytest_cache/

# VSCode settings
.vscode/

# IDE settings
.idea/

# MacOS
.DS_Store

# Logs
*.log

# Coverage report
htmlcov/
.coverage
.coverage.*

# FastAPI specific
*.sqlite*

data/**